@model GetAboutByIdDto
@*
    Ui Layout Footer About Component
*@

<div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
    <h5 class="text-secondary text-uppercase mb-4">İletişime Geçin</h5>
    <p class="mb-4">@Model.Description</p>
    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>@Model.Address</p>
    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>@Model.Mail</p>
    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>@Model.Phone</p>
</div>