@*
    Ui Contact BreadCrumb Component
*@

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="@ViewBag.a0">@ViewBag.v0</a>
                <span class="breadcrumb-item active">@ViewBag.v1</span>
            </nav>
        </div>
    </div>
</div>