@model List<ResultFeaturedProductDto>
@*
    Ui Layout Featured Product Component
*@

<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        <img class="img-fluid w-100" src="@item.ImageUrl" style="width: 100%; height: 260px; object-fit: cover;" alt="">
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                            <a href="/Admin/ProductDetail/ProductImage/@item.Id" class="action-btn btn-image" title="Görsel Güncelle">
                                <i class="fa fa-picture-o"></i>
                            </a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <a class="h6 text-decoration-none text-truncate" href="/ProductList/ProductDetail/@item.Id">@item.ProductName</a>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>$@item.Price</h5><h6 class="text-muted ml-2"><del>$@item.OldPrice</del></h6>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            @for (int i = 0; i < item.Rating; i++)
                            {
                                <small class="fa fa-star text-primary mr-1"></small>
                            }
                            <small>(@item.ReviewCount)</small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>