@*
    Admin Layout BreadCrumb Component
*@

<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a href="@ViewBag.v2"><i class="fa fa-home"></i> @ViewBag.v0</a>
        </li>

        <li class="active"> 
            <i class="fa fa-dashboard"></i> @ViewBag.v1 
        </li>
    </ol>
</section>