@*
    Ui Shopping Cart BreadCrumb Component
*@

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <span class="breadcrumb-item active">@ViewBag.v0</span>
            </nav>
        </div>
    </div>
</div>