
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UiLayout/Index.cshtml";
}

@await Component.InvokeAsync("_UiBreadCrumbComponent")

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync("_UiLayoutPriceFilterComponent")
            @await Component.InvokeAsync("_UiLayoutColorFilterComponent")
            @await Component.InvokeAsync("_UiLayoutSizeFilterComponent")
        </div>

        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync("_UiLayoutSortShowComponent")
                @await Component.InvokeAsync("_UiProductListComponent")
                @await Component.InvokeAsync("_UiLayoutPagingComponent")
            </div>
        </div>
    </div>
</div>