@{
    ViewData["Title"] = "ProductDetail";
    Layout = "~/Views/UiLayout/Index.cshtml";
}

@await Component.InvokeAsync("_UiBreadCrumbComponent")

<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        @await Component.InvokeAsync("_UiProductDetailImageComponent", new {productId = ViewBag.id})        
        @await Component.InvokeAsync("_UiProductDetailFeatureComponent", new { id = ViewBag.id })
    </div>

    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                @await Component.InvokeAsync("_UiProductDetailTabsComponent")
                <div class="tab-content">
                    @await Component.InvokeAsync("_UiProductDetailDescriptionComponent", new { id = ViewBag.id })
                    @await Component.InvokeAsync("_UiProductDetailAdditionalInformationComponent", new { id = ViewBag.id })

                   @* Burayı yorum satırına aldık comment'i ayrı bir mikroservise aldıktan sonra devem edeceğiz *@

@*                     @await Component.InvokeAsync("_UiUserCommentComponent", new { productId = ViewBag.id }) *@

                </div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("_UiRelatedProductsComponent", new { id = ViewBag.id })
