@*
    Ui Product Details Tabs Component
*@

<div class="nav nav-tabs mb-4">
    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Açıklama</a>
    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Bilgiler</a>
    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Değerlendirmeler (0)</a>
</div>